html { 
	background: url(img/bkg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div#nojs-msg{
	text-align: center;
	font-family: Courier, sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: red;
}


/*buttons*/
.lang-button {
	padding: 5px;
	background-color: #b3b3b3;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 5px #1a1a1a;

	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	cursor: pointer;
}

.actionb {
	background-size: 40px 40px;
	height: 50px;  
	width: 50px;
	padding: 5px;

	background-repeat:no-repeat;
	background-position:center center;

	box-shadow: 0 3px grey;
	border: 1px solid black;
	border-radius: 2px;

	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	cursor: pointer;
}

.lang-button:hover {
	background-color: #4CAF50; /* Green */
	color: white;
}

.lang-button:active, .actionb:active {
	background-color: #3e8e41;
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Show the dropdown menu */
.show {
	display:block;
}

/*set buttons image*/
button#del {
	background-image: url(img/del.jpg);
}
button#cp {
	background-image: url(img/copypaste.png);
}
button#snd {
	background-image: url(img/email.jpg);
}


/*text content*/
.text {
	z-index: 1;
	display: table; margin: 0 auto;
	position: relative;
}

.text_bkg {
	z-index: -1;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	background: black;

	-webkit-filter: blur(9px);
	-moz-filter: blur(9px);
	-o-filter: blur(9px);
	-ms-filter: blur(9px);
	filter: blur(9px);

	opacity: 0.90;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

div#text_txt {
	text-align: center;
	font-family: Courier, sans-serif;
	font-size: 44px;
	font-weight: bold;
	color: green;
}

div#intestation_txt {
	text-align: center;
	font-family: Courier, sans-serif;
	font-size: 16px;
	color: green;
}

div#pedice_txt {
	text-align: center;
	font-family: Courier, sans-serif;
	font-size: 12px;
	color: green;
}


/*main panel*/
.content {
	z-index: 1;
	margin: auto;
	border: 5px solid green;
	border-radius: 25px;

	width: 50%;
	height: 50%;
	min-width: 800px;
	padding: 40px;

	background: url(img/box.jpg);
	background-position: left top;
}

.usn_pwd_date {
	z-index: 1;
	margin: auto;
	border: 2px solid gray;
	border-radius: 5px;

	width: 50%;
	min-width: 150px;
	padding: 15px;

	background: url(img/inn_box.jpg);
	background-position: top;
}

.expiration_form {
	float: right;

	margin: auto;
	border: 1px dotted;
	border-radius: 3px;
	background-color:black;

	font-size: 12px;
	color: lightgrey;

	text-align: center;
}

textarea#clearText,  textarea#cryptText {
	border: 2px solid #cccccc;
	padding: 3px;
	resize: none;

	font-family: Courier, sans-serif;
	font-size: 15px;
	font-weight: bold;

	background-image: url(img/input.jpg);
	background-position: bottom right;

	box-shadow: 1px 1px 1px #555 inset;
}
